Build started...
Build succeeded.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;

                IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[AspNetUsers]') AND name = N'RefreshToken')
                BEGIN
                    ALTER TABLE [AspNetUsers] ADD [RefreshToken] nvarchar(max) NULL;
                END
                
                IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[AspNetUsers]') AND name = N'RefreshTokenExpiryTime')
                BEGIN
                    ALTER TABLE [AspNetUsers] ADD [RefreshTokenExpiryTime] datetime2 NULL;
                END
            


                IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[UserOtpVerifications]') AND type in (N'U'))
                BEGIN
                    CREATE TABLE [UserOtpVerifications] (
                        [Id] uniqueidentifier NOT NULL,
                        [UserId] nvarchar(450) NOT NULL,
                        [OtpCode] nvarchar(max) NOT NULL,
                        [OtpType] nvarchar(max) NOT NULL,
                        [ExpiresAt] datetime2 NOT NULL,
                        [IsUsed] bit NOT NULL,
                        [FailedAttempts] int NOT NULL,
                        [CreatedAt] datetime2 NOT NULL,
                        [IpAddress] nvarchar(max) NULL,
                        CONSTRAINT [PK_UserOtpVerifications] PRIMARY KEY ([Id])
                    );
                END
            

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260324043348_AddIdentityExtensions', N'10.0.5');

COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [AspNetUsers] ADD [OrganizationId] uniqueidentifier NULL;

CREATE TABLE [Organizations] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(150) NOT NULL,
    [Description] nvarchar(500) NULL,
    [IsActive] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NULL,
    [IsDeleted] bit NOT NULL,
    [DeletedAt] datetime2 NULL,
    [TenantId] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Organizations] PRIMARY KEY ([Id])
);

CREATE INDEX [IX_AspNetUsers_OrganizationId] ON [AspNetUsers] ([OrganizationId]);

ALTER TABLE [AspNetUsers] ADD CONSTRAINT [FK_AspNetUsers_Organizations_OrganizationId] FOREIGN KEY ([OrganizationId]) REFERENCES [Organizations] ([Id]);


                INSERT INTO Organizations (Id, Name, Description, IsActive, CreatedAt, IsDeleted, TenantId)
                SELECT NEWID(), Organization, 'Auto-migrated from legacy string infrastructure', 1, GETUTCDATE(), 0, 'SYSTEM'
                FROM AspNetUsers
                WHERE Organization IS NOT NULL AND Organization <> ''
                GROUP BY Organization;
            


                UPDATE u
                SET u.OrganizationId = o.Id
                FROM AspNetUsers u
                INNER JOIN Organizations o ON u.Organization = o.Name;
            

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260331021515_AddOrganizationEntity', N'10.0.5');

COMMIT;
GO


